body {background-color: #AAABB8;
margin:0;}
.banner-container {max-width: 100%;
height: 170px;
Display: flex;
align-items: center;
justify-content: center:}

.banner-container img {max-width: 100%;
height: 170px;
align-items: left;}
h1 {text-align: left;
line-height: .5px;
color: #29648A;
margin-left: 20px;
padding: 0;
line-height: .5px;}

h3 {font-family: Georgia, "Times New Roman", serif;
color: #25274D;
text-align: center;}

.navigation {background-color: #25274D;
color: white;
text-align: center;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: flex-end;
font-family: Georgia, "Times New Roman", serif;
font-size: 18pt;
line-height: 15px;}
.nav ul {list-style-type: none;
padding: 0;
margin: 0;
text-decoration: none;
display: flex;
margin-right: 20px;}
.nav li {display:inline;
text-decoration: none;
margin-right: 20px;
position: relative;}
.nav li:hover .dropdown-menu { display: block;}
.nav a {text-decoration: none; 
color: white;
transition: color 0.3s ease;
padding: 0 15px;
display: inline-block;}
.nav a:hover{color: #2E9CCA;}
.dropdown {position: relative;}
.nav .dropdown-menu{display:none;
position: absolute;
top:100%; 
right: 0;
background-color: #464866;
min-width: 150px;
text-align: left;}
.dropdown:hover .dropdown-menu {display:block;}
.dropdown-menu li {margin:0; 
padding: 10px; 
text-align: center;}
.dropdown-menu a {color: white;
text-decoration: none;
font-size: 12pt;
font-family: Georgia, "Times New Roman", serif;
text-align: center;
word-spacing: 8px;
display: block;}
.dropdown-menu a:hover{color: #2E9CCA;}


figcaption {font-style:italic;
color: #464866;
font-size: 10px;
text-align: left;}
.centered-caption {text-align:center;}

.footer {display: grid;
border-top: 5px solid #464866; 
grid-template-columns: repeat(4, 1fr);
padding: 10px; 
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #25274D;
font-family: Georgia, "Times New Roman", serif;
font-size: 10pt;}
.footer >* {text-align: center;
padding: 10px;
color: white;}
.footer-table { width: 100%;}
.footer a{text-decoration: none;
color: white;
transition: color 0.3s ease; }
.footer a:hover {color: #2E9CCA;}
.footer-table {width: 100%;}


.sections-container{display: flex;
flex-wrap: wrap;}

.section {flex: 1; 
max-height: 100%;
background-color: rgba(46, 156, 202, 0.5);
padding: 10px;
margin: 10px;
color: black;
margin-bottom: 0;}
.section img {max-width: 50%;
float: left;
margin:0 10px 10px 0;
background-color: #29648A;}
.section p {font-size: 14pt;
color: white;
margin: 0;
font-style: italic;}
.custom-list summary{color: black;
font-size: 14pt;}
.custom-list dd{color:white;}
.custom-link {color:#464866;
text-decoration: none;}

.custom-link {color:#464866;
text-decoration: none;}
</style>